    body {
        background-image: url("/assets/images/pexels-photo-2454533.jpeg");
        /* background-size: 50%; */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-color: #F6BD60;
    }