body {
    background-image: url("/assets/images/pexels-photo-2454533.jpeg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
}

.nav-extended {
    background-color: #344249;
}

.nav-wrapper {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.input-field:hover {
    background-color: #44565F;
}

#recipe-search-input {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: none;
}

#recipe-search-button {
    background: #5E9144;
}

#recipe-search-button:hover {
    background: #7e9673;
}

input {
    border: none;
    text-align: center;
}

.button {
    border: none;
    text-align: center;
}

button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #5E9144;
    color: white;
}

button:hover {
    background: #7e9673;
}

.card {
    border-bottom: none;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.card-action {
    align-content: center;
}

.hidden {
    display: none;
}

.search-history {
    color: yellow;
    font-size: xx-large;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;

}
